[*.cs]

# S1185: Overriding members should do more than simply call the same member in the base class
dotnet_diagnostic.S1185.severity = none

# S1135: Track uses of "TODO" tags
dotnet_diagnostic.S1135.severity = none

# S4158: Empty collections should not be accessed or iterated
dotnet_diagnostic.S4158.severity = none

# S1450: Private fields only used as local variables in methods should become local variables
dotnet_diagnostic.S1450.severity = none

# S927: Parameter names should match base declaration and other partial definitions
dotnet_diagnostic.S927.severity = none
